<!DOCTYPE web-app PUBLIC
 "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
 "http://java.sun.com/dtd/web-app_2_3.dtd" >

<web-app>
  <display-name>Archetype Created Web Application</display-name>
  <!-- === Servlet Declarations === -->
  <!-- Librarian Approve Patrons -->
  <servlet>
  	<servlet-name>LibrarianApprovePatrons</servlet-name>
  	<display-name>LibrarianApprovePatrons</display-name>
  	<description></description>
  	<servlet-class>com.cognixia.jump.library.controller.LibrarianApprovePatrons</servlet-class>
  </servlet>
  <!-- Librarian Login -->
  <servlet>
  	<servlet-name>LibrarianLogin</servlet-name>
  	<display-name>LibrarianLogin</display-name>
  	<description></description>
  	<servlet-class>com.cognixia.jump.library.controller.LibrarianLogin</servlet-class>
  </servlet>
  <!-- Librarian Update -->
  <servlet>
  	<servlet-name>LibrarianUpdate</servlet-name>
  	<display-name>LibrarianUpdate</display-name>
  	<description></description>
  	<servlet-class>com.cognixia.jump.library.controller.LibrarianUpdate</servlet-class>
  </servlet>
  <!-- Patron Signup -->
  <servlet>
  	<servlet-name>PatronSignup</servlet-name>
  	<display-name>PatronSignup</display-name>
  	<description></description>
  	<servlet-class>com.cognixia.jump.library.controller.PatronSignup</servlet-class>
  </servlet>
  <!-- Patron Login -->
  <servlet>
  	<servlet-name>PatronLogin</servlet-name>
  	<display-name>PatronLogin</display-name>
  	<description></description>
  	<servlet-class>com.cognixia.jump.library.controller.PatronLogin</servlet-class>
  </servlet>
  <!-- Patron Update -->
  <servlet>
  	<servlet-name>PatronUpdate</servlet-name>
  	<display-name>PatronUpdate</display-name>
  	<description></description>
  	<servlet-class>com.cognixia.jump.library.controller.PatronUpdate</servlet-class>
  </servlet>
  <!-- Patron Checkout Book -->
  <servlet>
  	<servlet-name>PatronCheckoutBook</servlet-name>
  	<display-name>PatronCheckoutBook</display-name>
  	<description></description>
  	<servlet-class>com.cognixia.jump.library.controller.PatronCheckoutBook</servlet-class>
  </servlet>
  <!-- Patron Return Book -->
  <servlet>
  	<servlet-name>PatronReturnBook</servlet-name>
  	<display-name>PatronReturnBook</display-name>
  	<description></description>
  	<servlet-class>com.cognixia.jump.library.controller.PatronReturnBook</servlet-class>
  </servlet>
  <!-- View All Books -->
  <servlet>
  	<servlet-name>BookServlet</servlet-name>
  	<display-name>BookServlet</display-name>
  	<description></description>
  	<servlet-class>com.cognixia.jump.library.controller.BookServlet</servlet-class>
  </servlet>


  <!-- === Servlet Mappings === -->
  <!-- Librarian Approve Patrons -->
  <servlet-mapping>
  	<servlet-name>LibrarianApprovePatrons</servlet-name>
  	<url-pattern>/LibrarianApprovePatrons</url-pattern>
  </servlet-mapping>
  <!-- Librarian Login -->
  <servlet-mapping>
  	<servlet-name>LibrarianLogin</servlet-name>
  	<url-pattern>/LibrarianLogin</url-pattern>
  </servlet-mapping>
  <!-- Librarian Update -->
  <servlet-mapping>
  	<servlet-name>LibrarianUpdate</servlet-name>
  	<url-pattern>/LibrarianUpdate</url-pattern>
  </servlet-mapping>
  <!-- Patron Signup -->
  <servlet-mapping>
  	<servlet-name>PatronSignup</servlet-name>
  	<url-pattern>/PatronSignup</url-pattern>
  </servlet-mapping>
  <!-- Patron Login -->
  <servlet-mapping>
  	<servlet-name>PatronLogin</servlet-name>
  	<url-pattern>/PatronLogin</url-pattern>
  </servlet-mapping>
  <!-- Patron Update -->
  <servlet-mapping>
  	<servlet-name>PatronUpdate</servlet-name>
  	<url-pattern>/PatronUpdate</url-pattern>
  </servlet-mapping>
  <!-- Patron Checkout Book -->
  <servlet-mapping>
  	<servlet-name>PatronCheckoutBook</servlet-name>
  	<url-pattern>/PatronCheckoutBook</url-pattern>
  </servlet-mapping>
  <!-- Patron Return Book -->
  <servlet-mapping>
  	<servlet-name>PatronReturnBook</servlet-name>
  	<url-pattern>/PatronReturnBook</url-pattern>
  </servlet-mapping>
  <!-- View All Books -->
  <servlet-mapping>
  	<servlet-name>BookServlet</servlet-name>
  	<url-pattern>/BookServlet</url-pattern>
  </servlet-mapping>
</web-app>
